@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif !important;
}

body {
  background-color: rgba(198, 197, 197, 0.603);
  font-size: 1.5rem;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2,
h3,
h4 {
  color: rgba(13, 0, 254, 0.484);
  font-weight: 700;
  font-size: 2rem;
}

/*Header*/
header {
  width: 100%;
  background-color: rgba(198, 197, 197, 0.603);
  font-size: 1.5rem;
}
header ul {
  list-style: none;
}
header ul a {
  color: black;
  text-decoration: none;
}
header .header-titulo {
  display: flex;
  justify-content: center;
  color: rgba(13, 0, 254, 0.484);
}
header .parallax {
  background-image: url("../img/img.portada.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* MEDIAQUERIE-TABLET */
@media (min-width: 768px) and (max-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
/*MEDIAQUERIE DESKTOP*/
@media (min-width: 768px) and (max-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
/*Footer*/
.footer {
  padding: 15px;
  background-color: rgba(13, 0, 254, 0.484);
  color: white;
}
.footer ul {
  list-style: none;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer-redes {
  line-height: 20px;
}
.footer-redes .footer-contacto {
  font-size: 1.5rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: block;
  text-align: center;
  border-top: 2px solid white;
}
.footer h5 {
  color: white;
  font-size: 1.5rem;
}
.footer .copy-footer {
  display: block;
  text-align: center;
  border-top: 2px solid white;
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* footer-tablet */
  .contenedor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1201px) {
  /* footer-desktop */
  .contenedor-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
/*Index*/
.contenedor-historia {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.contenedor-historia .historia-titulo {
  text-align: center;
}
.contenedor-historia .img-historia {
  max-width: 350px;
  height: auto;
  border-radius: 15px;
}

section h3 {
  text-align: center;
}

.contenedor-diferencias {
  padding: 15px;
}
.contenedor-diferencias .tarjeta {
  font-size: 1.5rem;
  padding: 0.5em;
  display: flex;
  gap: 20px;
}
.contenedor-diferencias .tarjeta-icon {
  background-color: rgba(13, 0, 254, 0.484);
  min-width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-diferencias .tarjeta-icon i {
  font-size: 1.8rem;
  color: white;
}

/* MEDIAQUERIE-TABLET */
@media (min-width: 768px) and (max-width: 1200px) {
  /* cards-tablet-INDEX */
  section h3 {
    font-size: 2rem;
  }
  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
  }
}
/* MEDIAQUERIE-DESKTOP */
@media (min-width: 1201px) {
  /* section-historia */
  .historia-titulo {
    text-align: center;
    font-size: 2rem;
  }
  .contenedor-historia {
    flex-direction: row;
    gap: 10px;
  }
  .contenedor-historia p {
    text-align: center;
  }
  .contenedor-historia .figure--order {
    order: 1;
  }
  /* card-desktop-INDEX */
  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 11px;
  }
  .contenedor-tarjetas .tarjeta-text {
    font-size: 1.3rem;
  }
  section h3 {
    font-size: 2rem;
  }
}
/*Servicios*/
.contenedor-logistica {
  padding: 15px;
}
.contenedor-logistica .logistica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-servicios {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-servicios .item--disc {
  list-style: disc;
}
.contenedor-servicios .img-mercaderia {
  width: 100%;
  height: auto;
}
.contenedor-servicios .mercaderia-parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .contenedor-mercaderias {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    grid-template-rows: 10vh 2fr;
  }
  .contenedor-mercaderias .mercaderia-img {
    grid-row: 1/3;
  }
  .contenedor-mercaderias .mercaderia-titulo {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .contenedor-mercaderias .mercaderia-parrafo {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
/*Transportes*/
.contenedor-transportes {
  padding: 10px;
}
.contenedor-transportes h2 {
  text-align: center;
}
.contenedor-transportes .img-flota {
  max-width: 380px;
  height: auto;
}
.contenedor-transportes .img-transportes {
  max-width: 380px;
  height: auto;
}

/*MEDIAQUERIE-TABLET*/
@media (min-width: 768px) and (max-width: 1200px) {
  .contenedor-transportes .figure-transportes {
    display: flex;
    justify-content: center;
  }
  .contenedor-transportes .figure-flota {
    display: flex;
    justify-content: center;
  }
}
/*MEDIAQUERIE-DESKTOP*/
@media (min-width: 1201px) {
  .contenedor-cargas {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contenedor-cargas h3 {
    grid-column: 1/span 3;
  }
  .contenedor-cargas .figure-transportes {
    display: flex;
    justify-content: center;
  }
  .contenedor-flota {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contenedor-flota h3 {
    grid-column: 1/span 3;
  }
  .contenedor-flota .figure-flota {
    order: 1;
    display: flex;
    justify-content: center;
  }
}
/*Almacenamientos*/
.contenedor-almacenamientos {
  padding: 5px;
}
.contenedor-almacenamientos img {
  max-width: 280px;
}

/*MEDIAQUERIE-TABLET*/
@media (min-width: 768px) {
  .tipos-almacenamientos {
    display: flex;
    margin-top: 20px;
  }
  .tipos-almacenamientos img {
    max-width: 550px;
    border-radius: 30px;
  }
}
/*Contacto*/
form {
  width: 100vw;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
form .item-form {
  display: flex;
  gap: 20px;
}
form .item-form-email {
  gap: 43px;
}
form .btn {
  color: rgba(13, 0, 254, 0.484);
  border: 2px solid rgba(13, 0, 254, 0.484);
}
form .btn:hover {
  background-color: rgba(13, 0, 254, 0.484);
  color: white;
  border: 2px solid rgba(13, 0, 254, 0.484);
}
form .btn:active {
  background-color: rgba(13, 0, 254, 0.484);
  color: white;
  border: 2px solid rgba(13, 0, 254, 0.484);
}

/*# sourceMappingURL=style.css.map */
