/*Contacto*/
$color-fondo:rgba(13, 0, 254, 0.484);
$color-letras: white;
$fs-titulo:2rem;
$fs-normal:1.5rem;
form {
    width: 98vw;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .item-form{
        display: flex;
    gap: 20px;
    }
    .item-form-email{
        gap: 43px;
    }
    .btn
{
    color:$color-fondo;
   border:2px solid $color-fondo;
   &:hover{
    background-color: $color-fondo;
    color: $color-letras;
    border: 2px solid $color-fondo;
   }
   &:active
   {
    background-color: $color-fondo !important;
    color: $color-letras;
    border: 2px solid $color-fondo !important ;
   }
  
    }
   
}


