.footer {
    padding: 15px;
    background-color:$color-fondo;
    color:$color-letras;

    & ul {
        list-style: none;
}
& a {
    color:$color-letras;
    text-decoration: none;
}
    &-redes {
        line-height: 20px;
    }

    &-redes &-contacto {
        font-size: $fs-normal;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: block;
        text-align: center;
        border-top: 2px solid $color-letras;
    }

    & h5 {
        color:$color-letras;
        font-size: $fs-normal;
    }
    & .copy-footer {
        display: block;
        text-align: center;
        border-top: 2px solid $color-letras;
    }

}
@media (min-width:768px)and (max-width:1200px) {

    /* footer-tablet */
    .contenedor-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
  }
  @media (min-width:1201px) {

    /* footer-desktop */
    .contenedor-footer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  
  }





